@-webkit-keyframes slide-down {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }
}

@keyframes slide-down {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }
}

.element {
  width: 100px;
  height: 100px;
  background: black;
  -webkit-animation: slide-down 5s 3;
  animation: slide-down 5s 3;
}

.visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #797687;
  overflow-x: hidden;
}

svg {
  display: block;
}

a,
button,
input,
textarea,
button {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input,
textarea {
  width: 100%;
  padding: 10px 12px;
  outline: 0;
}

button {
  cursor: pointer;
  outline: 0;
}

a,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin-top: 0;
  font-weight: 600;
  color: #2b2350;
}

img {
  max-width: 100%;
  height: auto;
}

.pr {
  position: relative;
}

.pt-7 {
  padding-top: 70px;
}

section {
  position: relative;
}

.mw-none {
  max-width: unset !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section-small {
  margin-bottom: 80px;
}

.section-small .title {
  font-size: 20px;
  font-weight: 500;
}

.mt-40 {
  margin-top: 40px;
}

.mt-60 {
  margin-top: 60px;
}

.section-padding {
  padding: 100px 0;
}

.no-scroll {
  overflow-y: hidden !important;
}

.container-wide {
  max-width: 1700px;
  padding: 0 15px;
  margin: 0 auto;
}

.gutters-10>[class*=col-] {
  padding: 0 5px;
}
