/*--------------------------------------------------------------
  ##  Header
  --------------------------------------------------------------*/
.site-header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.site-header .headerInner {
    position: relative;
}

.site-header .headerInner .site-logo a {
    display: block;
    max-width: 150px;
}

.site-header .headerInner .site-logo a img {
    width: 100%;
}

.site-header .headerInner .site-logo a .sticky-logo {
    display: none;
}

.site-header .headerInner .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.site-header .headerInner .site-nav .menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.site-header .headerInner .site-nav .menu-wrapper:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.site-header .headerInner .site-nav .nav-right {
    margin-left: 50px;
}

.site-header .headerInner .site-nav .nav-right .nav-btn {
    background: #fff;
    -webkit-box-shadow: 0px 20px 30px 0px rgba(79, 35, 35, 0.15);
    box-shadow: 0px 20px 30px 0px rgba(79, 35, 35, 0.15);
    color: #00A8C1;
    display: inline-block;
    padding: 7px 37px;
    font-weight: 600;
    border-radius: 30px;
    font-size: 14px;
    border: 2px solid transparent;
}

.site-header .headerInner .site-nav .nav-right .nav-btn:hover {
    background: #00A8C1;
    color: #fff;
}

.site-header .headerInner .site-nav.nav-two .nav-right .nav-btn {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 6px 37px;
}

.site-header .headerInner .site-nav.nav-two .nav-right .nav-btn:hover {
    background: #fff;
    color: #7052fb;
    border-color: #fff;
}

.site-header .headerInner .site-nav.nav-two .nav-right .nav-btn.style-two {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    padding: 9px 37px;
}

.site-header .headerInner .site-nav.nav-two .nav-right .nav-btn.style-two:hover {
    background: #fff;
    color: #7052fb;
}

.site-header .headerInner .site-nav.nav-two .site-main-menu li .sub-menu li a:hover,
.site-header .headerInner .site-nav.nav-two .site-main-menu li .sub-menu li a.current_page {
    color: #7052fb;
}

.site-header .site-mobile-logo {
    display: none;
}

.site-header .site-main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.site-header .site-main-menu li {
    margin: 0 23px;
    position: relative;
    padding: 36px 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.site-header .site-main-menu li:last-child {
    margin-right: 0;
}

.site-header .site-main-menu li>a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    position: relative;
}

.site-header .site-main-menu li>a:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 1px;
    background: #fff;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    left: 0;
}

.site-header .site-main-menu li>a:hover:after,
.site-header .site-main-menu li>a.current_page:after {
    width: 100%;
    opacity: 1;
}

.site-header .site-main-menu li.menu-item-has-children:after {
    position: absolute;
    right: -18px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: eleganticons;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.site-header .site-main-menu li.menu-item-has-children:hover:after {
    color: #00A8C1;
}

.site-header .site-main-menu li .sub-menu {
    display: block;
    margin: 0;
    padding: 23px 30px;
    list-style: none;
    background: #fff;
    -webkit-box-shadow: 0px 0px 36px 4px rgba(79, 35, 35, 0.1);
    box-shadow: 0px 0px 36px 4px rgba(79, 35, 35, 0.1);
    position: absolute;
    top: 110%;
    left: 0;
    min-width: 250px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 999999;
    border-radius: 10px;
}

.site-header .site-main-menu li .sub-menu li {
    display: block;
    margin: 0;
    padding: 0;
}

.site-header .site-main-menu li .sub-menu li.menu-item-has-children:after {
    content: "\35";
    right: 0px;
    color: #333;
}

.site-header .site-main-menu li .sub-menu li.menu-item-has-children .sub-menu {
    left: 105%;
    top: 0;
    visibility: hidden;
    opacity: 0;
}

.site-header .site-main-menu li .sub-menu li.menu-item-has-children:hover .sub-menu {
    top: -23px;
    visibility: visible;
    opacity: 1;
}

.site-header .site-main-menu li .sub-menu li a {
    display: block;
    padding: 3px 0;
    color: #797687;
    font-size: 14px;
    font-weight: 500;
}

.site-header .site-main-menu li .sub-menu li a:after {
    display: none;
}

.site-header .site-main-menu li .sub-menu li a:hover,
.site-header .site-main-menu li .sub-menu li a.current_page {
    color: #00A8C1;
}

.site-header .site-main-menu li .sub-menu li:last-child a {
    border-bottom: 0;
}

.site-header .site-main-menu li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.site-header .nav-dark .site-main-menu li a {
    color: #2b2350;
}

.site-header .nav-dark .site-main-menu li a:after {
    display: none;
}

.site-header .nav-dark .site-main-menu li a:hover,
.site-header .nav-dark .site-main-menu li a.current_page {
    color: #00A8C1;
}

.site-header .nav-dark .site-main-menu li.menu-item-has-children:after {
    color: #2b2350;
}

.site-header.header-five .headerInner .site-nav .menu-wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    width: 80%;
}

.site-header.header-five .headerInner .site-nav .nav-right .nav-btn {
    background: transparent;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid rgba(255, 255, 255, 0.302);
    border-radius: 4px;
    padding: 7px 24px;
    font-size: 16px;
}

.site-header.header-five .headerInner .site-nav .nav-right .nav-btn:hover {
    background: #fff;
    border-color: #fff;
    color: #7052fb;
}

.site-header.header-five .site-main-menu li a {
    color: #2b2350;
}

.site-header.header-five .site-main-menu li a:after {
    display: none;
}

.site-header.header-five .site-main-menu li a:hover,
.site-header.header-five .site-main-menu li a.current_page {
    color: #7052fb;
}

.site-header.header-five .site-main-menu li.menu-item-has-children:after {
    color: #2b2350;
}

.site-header.header-five .site-main-menu li .sub-menu li a:hover,
.site-header.header-five .site-main-menu li .sub-menu li a.current_page {
    color: #7052fb;
}

.site-header.header-six .headerInner .site-nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.site-header.header-six .headerInner .site-nav .nav-right .nav-btn {
    background: transparent;
    border: 2px solid #efbbd9;
    color: #f97bc5;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.site-header.header-six .headerInner .site-nav .nav-right .nav-btn:hover {
    background: #f97bc5;
    color: #fff;
    border-color: #f97bc5;
}

.site-header.header-six .headerInner .site-nav .nav-right .login-btn {
    color: #646479;
    margin-right: 15px;
    font-weight: 500;
}

.site-header.header-six .headerInner .site-nav .nav-right .login-btn a {
    color: #fff;
}

.site-header.header-six .headerInner .site-nav .nav-right .login-btn i {
    margin-right: 5px;
}

.site-header.header-six .headerInner .site-nav .nav-right .login-btn:hover {
    color: #f97bc5;
}

.menu-wrapper .login-btn {
    color: #fff;
    margin-right: 8px;
}

.menu-wrapper .login-btn i {
    margin-right: 5px;
}

.pix-header-fixed .menu-wrapper .login-btn {
    color: #0195AC;
}

.site-header.header-six .site-main-menu li>a {
    color: #2b2350;
}

.site-header.header-six .site-main-menu li>a:hover {
    color: #f97bc5;
}

.site-header.header-six .site-main-menu li .sub-menu li a:hover,
.site-header.header-six .site-main-menu li .sub-menu li a.current_page {
    color: #f97bc5;
}

.logo-sticky {
    display: none;
}

.pix-header-fixed {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 999999;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(79, 35, 35, 0.08);
    box-shadow: 0px 10px 20px 0px rgba(79, 35, 35, 0.08);
    -webkit-animation: stickySlideDown 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;
    animation: stickySlideDown 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;
    background: #fff;
}

.pix-header-fixed .headerInner .site-logo {
    padding: 18px 0;
}

.pix-header-fixed .headerInner .site-logo .logo-sticky {
    display: block;
}

.pix-header-fixed .headerInner .site-logo .logo-main {
    display: none;
}

.pix-header-fixed .headerInner .site-nav .nav-right .nav-btn {
    background: transparent;
    color: #00A8C1;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #00A8C1;
}

.pix-header-fixed .headerInner .site-nav .nav-right .nav-btn:hover {
    background: #00A8C1;
    color: #fff;
}

.pix-header-fixed .headerInner .site-nav.nav-two .nav-right .nav-btn,
.pix-header-fixed .headerInner .site-nav.nav-two .nav-right .nav-btn.style-two {
    border-color: #7052fb;
    color: #7052fb;
}

.pix-header-fixed .headerInner .site-nav.nav-two .nav-right .nav-btn:hover,
.pix-header-fixed .headerInner .site-nav.nav-two .nav-right .nav-btn.style-two:hover {
    background: #7052fb;
    color: #fff;
    border-color: #7052fb;
}

.pix-header-fixed .headerInner .site-nav.nav-two .site-main-menu li a:hover,
.pix-header-fixed .headerInner .site-nav.nav-two .site-main-menu li a.current_page {
    color: #7052fb;
}

.pix-header-fixed .site-main-menu li {
    padding: 28px 0;
}

.pix-header-fixed .site-main-menu li.menu-item-has-children:after {
    color: #333;
}

.pix-header-fixed .site-main-menu li a {
    color: #333;
}

/*.pix-header-fixed .site-main-menu li a:after {
  display: none;
}*/
.site-header .site-main-menu li>a:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 1px;
    background: #fff;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    left: 0;
}

.pix-header-fixed .site-main-menu li a:hover,
.pix-header-fixed .site-main-menu li a.current_page {
    color: #00A8C1;
}

.pix-header-fixed .site-main-menu li a:hover:before,
.pix-header-fixed .site-main-menu li a:hover:after,
.pix-header-fixed .site-main-menu li a.current_page:before,
.pix-header-fixed .site-main-menu li a.current_page:after {
    background: #00A8C1;
}

.pix-header-fixed .site-logo .main-logo {
    display: none;
}

.pix-header-fixed .site-logo .sticky-logo {
    display: block;
}

.pix-header-fixed.header-five .headerInner .site-nav .nav-right .nav-btn {
    color: #7052fb;
    border: 2px solid #7052fb;
}

.pix-header-fixed.header-five .headerInner .site-nav .nav-right .nav-btn:hover {
    background: #7052fb;
    border-color: #7052fb;
    color: #fff;
}

.mask-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3333;
    top: 0;
    left: 0;
}

.close-menu {
    display: none;
}

.home-color-two .return-to-top:hover:after {
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07);
    background: #7052fb;
    -webkit-box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.15);
}

.home-color-two .return-to-top:hover>i {
    text-shadow: 0px -50px #fff, 0px 0px #fff;
}

@media (max-width: 991px) {
    .toggle-menu {
        position: absolute;
        left: 0;
        width: 26px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        display: block;
        height: 24px;
    }

    .toggle-menu .bar {
        width: 18px;
        height: 2px;
        display: block;
        float: left;
        margin: 3px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .toggle-menu .bar:nth-child(2) {
        width: 24px;
    }

    .site-header .headerInner {
        text-align: center;
        padding: 15px 0;
    }

    .site-header .headerInner .site-nav .nav-right {
        margin-left: 20px;
    }

    .site-header .headerInner .site-nav .nav-right .nav-btn {
        padding: 8px 22px;
    }

    .site-header .site-mobile-logo {
        display: block;
    }

    .site-header .site-main-menu li {
        margin: 0 15px;
    }

    .site-header .site-logo {
        display: none;
    }

    .site-header.header-two.toggle-light .toggle-menu .bar {
        background: #fff;
    }

    .site-header.header-five .toggle-menu .bar,
    .site-header.header-six .toggle-menu .bar {
        background: #333;
    }

    .site-header .site-nav {
        position: fixed;
        width: 320px !important;
        height: 100vh;
        background: #fff;
        top: 0;
        left: -100%;
        display: block !important;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        overflow: scroll;
        -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    }

    .site-header .site-nav .site-main-menu {
        display: block;
        width: 100%;
        padding-bottom: 50px;
        text-align: left;
    }

    .site-header .site-nav .site-main-menu li {
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #f1f2f3;
    }

    .site-header .site-nav .site-main-menu li:first-child {
        border-top: 1px solid #f1f2f3;
    }

    .site-header .site-nav .site-main-menu li a {
        display: block;
        color: #888888;
        padding: 6px 35px;
        font-weight: 400;
    }

    .site-header .site-nav .site-main-menu li a:after {
        display: none;
    }

    .site-header .site-nav .site-main-menu li.menu-item-has-children {
        position: relative;
    }

    .site-header .site-nav .site-main-menu li.menu-item-has-children:after {
        display: none;
    }

    .site-header .site-nav .site-main-menu li.menu-item-has-children a:hover,
    .site-header .site-nav .site-main-menu li.menu-item-has-children:focus {
        color: #00A8C1;
    }

    .site-header .site-nav .site-main-menu li.menu-item-has-children i {
        position: absolute;
        top: 6px;
        right: 20px;
        display: block;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        z-index: 222;
    }

    .site-header .site-nav .site-main-menu li.menu-item-has-children .sub-menu {
        position: static;
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: 1;
        width: auto;
        visibility: visible;
        background: transparent;
        padding: 0;
        display: none;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }

    .site-header .site-nav .site-main-menu li.menu-item-has-children .sub-menu li {
        padding: 0;
    }

    .site-header .site-nav .site-main-menu li.menu-item-has-children .sub-menu li:first-child {
        border-top: 1px solid #f1f2f3;
    }

    .site-header .site-nav .site-main-menu li.menu-item-has-children .sub-menu li:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }

    .site-header .site-nav .site-main-menu li.menu-item-has-children .sub-menu li a {
        color: #888888;
        font-weight: 400;
        padding: 5px 35px 5px 45px;
    }

    .site-header .site-nav .site-main-menu li.menu-item-has-children .sub-menu li.menu-item-has-children .sub-menu {
        opacity: 1;
        visibility: visible;
        position: relative;
        left: 0;
        top: auto;
    }

    .site-header .site-nav .site-main-menu li.menu-item-has-children .sub-menu li.menu-item-has-children .sub-menu li a {
        padding-left: 60px;
    }

    .site-header .site-nav .site-main-menu li.menu-item-has-children .sub-menu li.menu-item-has-children:after {
        content: "\33";
        color: #fff;
    }

    .site-header .site-nav .nav-right {
        display: none;
    }

    .site-header .site-nav.nav-two .site-main-menu li.menu-item-has-children:hover,
    .site-header .site-nav.nav-two .site-main-menu li.menu-item-has-children:focus {
        color: #7052fb;
    }

    .site-header .site-nav.nav-two .site-main-menu li.menu-item-has-children:hover:after,
    .site-header .site-nav.nav-two .site-main-menu li.menu-item-has-children:focus:after {
        color: #7052fb;
    }

    .site-header .site-nav.nav-two .site-main-menu li.menu-item-has-children a:hover,
    .site-header .site-nav.nav-two .site-main-menu li.menu-item-has-children a:focus {
        color: #7052fb;
    }

    .site-header.header-two .toggle-menu .bar {
        background: #2b2350;
    }

    .headerInner .site-mobile-logo img {
        max-height: 30px;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .pix-header-fixed .toggle-menu {
        top: 30px;
    }

    .pix-header-fixed .toggle-menu .bar {
        background: #333;
    }

    .pix-header-fixed .site-main-menu li a {
        color: #fff;
    }

    .pix-header-fixed .site-main-menu li.menu-item-has-children:after {
        color: #fff;
    }

    .pix-header-fixed .headerInner .site-logo {
        padding: 12px 0;
    }

    .pix-header-fixed.header-two.toggle-light .toggle-menu .bar {
        background: #000;
    }

    .sidebar-open .site-header .site-nav {
        left: 0;
    }

    .sidebar-open .menu-wrapper:before {
        opacity: 1;
        visibility: visible;
    }

    .close-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        top: 0;
        text-align: right;
        width: 100%;
        left: 0;
        padding: 2px;
        padding: 30px 20px;
    }

    .close-menu i {
        font-size: 36px;
        color: #2b2350;
    }

    .close-menu span {
        font-size: 15px;
    }

    .header-dark .toggle-menu .bar {
        background: #2b2350;
    }
}

@media (max-width: 420px) {
    .site-header .site-nav {
        width: 100% !important;
    }
}